//- Parameters
//- admins, page, list,  minPage, maxPage, authority

extends ../layout.pug 

block title 
    | 관리자 관리 및 승인 #{page}p

block content
    include manage.pug
    .container-fluid
        include ../title.pug
            |  관리자 관리 및 승인
        .table-responsive.justify-content-center.mt-2
            table#userTable.table(data-toggle='table' data-pagination)
                thead.table-light
                    tr
                        th(scope='col') idx 
                        th(scopr='col') id
                        th(scope='col') 이름 
                        th(scope='col') 현재 권한
                        th(scope='col') 승인 및 관리
                tbody 
                    - var modalArray = [];
                    each user in admins
                        - modalArray.push(`#manage${user.idx}Modal`);
                        tr
                            th(scop='row') #{user.pidx}
                            td #{user.id}
                            td #{user.name} 
                            td(id=`authority${user.idx}`) #{user.author} 
                            td 
                                button.btn.btn-dark.btn-sm(type='button' data-bs-toggle="modal" data-bs-target=`#manage${user.idx}Modal`) 
                                    if user.authority == 0
                                        | 승인
                                    else 
                                        | 변경
                    else
                        tr
                            th(scope='row') 0
                            td there is
                            td no
                            td admins 
                            td
            include ../lib/pagination.pug
    script.
        for(var i = 0; i < modalArray.length; i++){
            document.getElementById(modalArray[i]).addEventListener('submit', function(event){
                event.preventDefault();
                const authority = document.getElementById('adminAuthority').value;
                const adminIdx = document.getElementById('userIdx').value;

                const xhr = new XMLHttpRequest();            
                xhr.open('POST', `/manage`);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onreadystatechange = function() {
                    if (xhr.status === 200) {
                        const adminAuthorityName = document.getElementById(`authority${adminIdx}`);
                        const manageModal = document.getElementById(`manage${adminIdx}Modal`);
                        const bootstrapModal = new bootstrap.Modal(manageModal);
                        bootstrapModal.hide();
                        const response = JSON.parse(xhr.responseText);
                        console.log(response.author);
                        adminAuthorityName.innerText = response.author;                    
                    }
                }
                xhr.send(`authority=${authority}&idx=${adminIdx}`);
            })
        }