//- Parameters
//- admin, member, request, date, avgRewardPerCategoryChart

extends layout.pug

block title
    | Meusket Admin

block content
    include ./chart.pug
    .container-lg.mt-3
        .row.justify-content-center.d-md-flex.flex-md-row.flex-column
            .col-12.col-lg-6.mb-4.d-flex.flex-column
                h5.ms-1.nanumGothic-bold 회원 관리
                .card-group
                    .card.border-none.shadow-sm.m-1
                        .card-header.bg-transparent.border-none
                            .nanumGothic 승인 대기중 드림이
                        .card-body.d-flex.align-items-center.justify-content-center
                            h2.text-meusket.me-2 #{member.applyCount}
                            .font-2 명
                        .card-footer.bg-transparent.border-none.d-grid.gap-2
                            a.btn.btn-dark.btn-sm.nanumGothic-bold.font-1(href='/member/apply' style="min-width: 127px; min-height: 30px;" ) 드림이 신청 바로가기
                    .card.border-none.shadow-sm.m-1
                        .card-header.bg-transparent.border-none
                            .nanumGothic 이 달의 신규 부름이
                        .card-body.d-flex.align-items-center.justify-content-center
                            h2.me-2 #{member.newUserOfMonth}
                            .font-2 명
                        .card-footer.bg-transparent.border-none.d-grid.gap-2
                            a.btn.btn-dark.btn-sm.font-sm.nanumGothic-bold.font-1(href=`/member/users?startDate=${date.startMonth}&endDate=${date.endDay}&page=1` style="min-width: 127px;") 회원 리스트 바로가기
            .col-12.col-lg-6.mb-4.d-flex.flex-column
                h5.ms-1.nanumGothic-bold 심부름 관리
                .card-group
                    .card.border-none.shadow-sm.m-1
                        .card-header.bg-transparent.border-none
                            .nanumGothic 오늘의 심부름 매칭 건수
                        .card-body.d-flex.align-items-center.justify-content-center
                            h2.me-2 #{request.requestofToday}
                            .font-2 건
                        .card-footer.bg-transparent.border-none.d-grid.gap-2
                            a.btn.btn-dark.btn-sm.nanumGothic-bold.font-1(href=`/trade/errands?startDate=${date.startDay}&endDate=${date.endDay}&page=1` style="min-width: 127px; min-height: 30px;" ) 심부름 조회 바로가기
                    .card.border-none.shadow-sm.m-1
                        .card-header.bg-transparent.border-none
                            .nanumGothic 이 달의 심부름 매칭 건수
                        .card-body.d-flex.align-items-center.justify-content-center
                            h2.me-2 #{request.requestofMonth}
                            .font-2 건
                        .card-footer.bg-transparent.border-none.d-grid.gap-2
                            a.btn.btn-dark.btn-sm.font-sm.nanumGothic-bold.font-1(href=`/trade/errands?startDate=${date.startMonth}&endDate=${date.endDay}&page=1` style="min-width: 127px;") 심부름 조회 바로가기
            .my-4.d-none.d-lg-block
            .col-12.col-lg-6.mb-4.d-flex.flex-column
                h5.ms-1.nanumGothic-bold 통계 보기
                .card.flex-fill.border-none.shadow
                    .card-body
                        .card-header.bg-transparent.border-none
                            .nanumGothic 오늘의 심부름비
                        .card-body.d-flex.align-items-center.justify-content-center
                            h2.text-meusket.me-2 #{reward.rewardOfToday}
                            .font-2 원
                        .card-footer.bg-transparent.border-none.d-grid.gap-2
                            a.btn.btn-dark.btn-sm.font-sm.nanumGothic-bold.font-1(href='stat/errand' style="min-width: 127px;") 심부름 통계 바로가기
            .col-12.col-lg-6.mb-4.d-flex.flex-column
                h5.ms-1.nanumGothic-bold 매출 관리
                .card.flex-fill.border-none.shadow
                    .card-body
                        .card-header.bg-transparent.border-none
                            .nanumGothic 이 달의 심부름비(매출)
                        .card-body.d-flex.align-items-center.justify-content-center
                            h2.me-2 #{reward.rewardOfMonth}
                            .font-2 원
                        .card-footer.bg-transparent.border-none.d-grid.gap-2
                            a.btn.btn-dark.btn-sm.font-sm.nanumGothic-bold.font-1(href=`/trade/errands?startDate=${date.startMonth}&endDate=${date.endDay}&page=1` style="min-width: 127px;") 심부름(매출) 바로가기
            .col-12.mb-4.d-flex.flex-column
                .card.ms-1.flex-fill.border-none.shadow
                    .card-body
                        .nanumGothic 카테고리별 심부름비
                        .d-flex.justify-content-center.mt-3
                            canvas#avgRewardPerCategoryChart(style='max-width: 1000px; max-height:450px;')

    script.
        createChart('avgRewardPerCategoryChart',!{JSON.stringify(avgRewardPerCategoryChart)});