//- Parameters
//- worker_approvals, page, hasPrev, hasNext, minPage, maxPage, worker_approvalType, worker_approvalSearch

extends ../../layout.pug 

block title 
    | 부름이리스트 #{page}p

block content
    .container-fluid
        include ../../title.pug
            |  드림이 신청
            button.btn.btn-dark.btn-sm.me-auto(type='button' data-bs-toggle="modal" data-bs-target="#categoryModal") 카테고리 보기
        include ./category.pug
        .table-responsive.justify-content-center.mt-2
            table#worker_approvalTable.table(data-toggle='table' data-pagination)
                thead.table-light
                    tr
                        th(scope='col') idx 
                        th(scope='col') ID
                        th(scope='col') 예금주
                        th(scope='col') 카테고리
                        th(scope='col') 상세정보
                tbody
                    each approval in worker_approvals
                        tr
                            th(scop='row') #{approval.pidx}
                            td 
                                a(href=`/member/user/${approval.userIdx}`) #{approval.id}
                            td #{approval.accountName} 
                            td #{approval.category}
                            td
                                a.btn.btn-dark.btn-sm(href=`/member/apply/${approval.idx}`) 바로가기
                    else
                        tr
                            th(scope='row') 0
                            td there is
                            td no worker_approvals
                            td
            include ../../pagination.pug