//- Parameters
//- admin, reports, page, minPage, maxPage 

extends ../../layout.pug 

block title 
    | 신고 심부름리스트 #{page}p

block content
    .container-fluid
        include ../../title.pug
            |  신고리스트
        include search.pug
        .table-responsive.justify-content-center.mt-3
            table.table(data-toggle='table' data-pagination)
                thead.table-light
                    tr
                        th(scope='col' style='width: auto;') idx 
                        th(scope='col') 신고자
                        th(scope='col' style='width: 20%;') 요청날짜
                        th(scope='col' style='width: 15%;') 상세보기
                        th.d-none.d-md-table-cell(scope='col' style='width: 10%;') 처리상태
                tbody 
                    each report in reports
                        tr
                            td #{report.idx}
                            td #{report.id}
                            td #{report.reportDate}
                            td 
                                a.btn.btn-dark.btn-sm(href=`/member/report/${report.idx}` style="width: 4.2rem;") 상세정보
                            td.d-none.d-md-table-cell 
                                if report.status == 0
                                    .badge.text-bg-warning 처리필요
                                else 
                                    .badge.text-bg-success 처리완료
                    else
                        tr
                            th(scope='row') 0
                            td there is
                            td no 
                            td reports
                            td
        
            include ../../lib/pagination.pug
