script(type='text/javascript' src='https://cdn.jsdelivr.net/jquery/latest/jquery.min.js')
script(type='text/javascript' src='https://cdn.jsdelivr.net/momentjs/latest/moment.min.js')
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js')
link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css')

.card
    .container-fluid
        form.ms-1(method='get', action='' enctype='application/x-www-form-urlencoded')
            .d-flex.mt-1.align-items-center
                span(style="flex-shrink: 0; width: 4.2rem;") 가입날짜
                i.bi.bi-caret-right-fill
                input#startDate.form-control.form-control-sm(type='text' name='startDate' value=sDate)
                span.ms-1.me-1 ~
                input#endDate.form-control.form-control-sm(type='text' name='endDate' value=eDate)
            .mt-2
                .form-check.form-check-inline
                    input#userCheckbox1.form-check-input(type='checkbox' name='user' value='true' checked=user)
                    label.form-check-label(for='userCheckbox1') 부름이
                .form-check.form-check-inline
                    input#userCheckbox2.form-check-input(type='checkbox' name='helper' value='true' checked=helper)
                    label.form-check-label(for='userCheckbox2') 드림이
                //- .form-check.form-check-inline
                //-     input#userCheckbox3.form-check-input(type='checkbox' name='withdraw' value='true' checked=withdraw)
                //-     label.form-check-label(for='userCheckbox3') 탈퇴
                .form-check.form-check-inline
                    input#userCheckbox4.form-check-input(type='checkbox' name='black' value='true' checked=black)
                    label.form-check-label(for='userCheckbox4') 정지
            .d-flex.mt-2.mb-1
                select.form-select(name='type' aria-label='type', style='width: auto;')
                    option(value='id') 아이디
                    option(value='name') 이름
                input#searchInput.form-control(type='text', name='search',aria-label='search' placeholder='검색')
                input(type='hidden' name='page' value=1)
                button#searchButton.btn.btn-success.ms-1(type='submit') search
            .mt-3.mb-2 
                span(style='width: 140px;') 정렬: 
                .form-check.form-check-inline 
                    input#orderRadios1.form-check-input(type='radio' name='orderby' value='idx' checked=orderby=='idx')
                    label.form-check-label(for='orderRadios1') idx순
                .form-check.form-check-inline 
                    input#orderRadios2.form-check-input(type='radio' name='orderby' value='createAt' checked=orderby=='createAt')
                    label.form-check-label(for='orderRadios2') 최근가입순
                .form-check.form-check-inline 
                    input#orderRadios3.form-check-input(type='radio' name='orderby' value='name' checked=orderby=='name')
                    label.form-check-label(for='orderRadios3') 이름순

script.
    $(function() {
        $('input[name="startDate"]').daterangepicker({
            singleDatePicker: true,
            minYear: 1901,
            maxYear: parseInt(moment().format('YYYY'),10)
        });
    });
    $(function() {
        $('input[name="endDate"]').daterangepicker({
            singleDatePicker: true,
            minYear: 1901,
            maxYear: parseInt(moment().format('YYYY'),10)
        });
    });