//- Parameters
//-- admin, user, errands

.offcanvas.offcanvas-bottom#offcanvasErrand(data-bs-scroll='true' tabindex='-1' aria-labelledby='offcanvasErrandLabel', style='max-height: 100%;')
        .offcanvas-header
            h5#offcanvasErrandLabel.offcanvas-title 심부름 내역
            button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
        .offcanvas-body
            .table-responsive.text-center
                table.table
                    thead
                        tr 
                            th(scope='col' style='width: 20%') 심부름 날짜
                            th(scope='col' style='width: 10%') 드림이
                            th(scope='col') 수행지역
                            th(scope='col' style='width: 30%') 요약정보
                    tbody.table-group-divider
                        each errand in errands 
                            tr
                                td #{errand.regDate}
                                td 
                                    a(href=`/member/user/${errand.workerIdx}`) #{errand.h_id}
                                td #{errand.address}
                                td
                                    button.btn.btn-dark(type='button' data-bs-toggle='collapse' data-bs-target=`#collapseDetail${errand.idx}` aria-expanded='false' aria-controls=`collapseDetail${errand.idx}`)
                                        | 자세히
                                    .collapse.mt-1(id=`collapseDetail${errand.idx}`)
                                        .card.card-body
                                            p 제목: #{errand.title} 
                                            p 내용: #{errand.content}
                                            | 처리상태: 
                                            if errand.status == 5 
                                                | 심부름취소
                                            else if errand.status == 0 || errand.status == 1 
                                                | 매칭중
                                            else if errand.status == 2
                                                | 진행대기
                                            else if errand.status == 3 
                                                | 진행중
                                            else
                                                | 심부름완료
                                            a.btn.btn-dark.btn-sm.mt-2(href=`/trade/errand/${errand.idx}`) 상세정보
                        else 
                            tr 
                                td 
                                td 주문내역 
                                td 없음
                                td
            ul.pagination.justify-content-center
                li.page-item 1