//- Parameters
//-- admin, user, errands , requests

.offcanvas.offcanvas-bottom#offcanvasErrand(data-bs-scroll='true' tabindex='-1' aria-labelledby='offcanvasErrandLabel', style='max-height: 100%;')
        .offcanvas-header
            h5#offcanvasErrandLabel.offcanvas-title 부름이 심부름 요청내역
            button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
        .offcanvas-body
            .table-responsive.text-center
                table.table
                    thead
                        tr 
                            th#requestDate(scope='col' style='width: 20%') 심부름 요청 날짜
                            th#targetSubject(scope='col' style='width: 10%') 드림이
                            th(scope='col') 수행지역
                            th(scope='col' style='width: 30%') 요약정보
                    tbody#requestTableBody.table-group-divider
                        tr 
                            td 심부름
                            td 내역 
                            td 없음
                            td
            ul.pagination.justify-content-center
                li.page-item 
                    button#prevBtn.btn.btn-white.border-0.rounded-circle.p-0.me-auto(disabled)
                        i.bi.bi-chevron-left
                    button#nextBtn.btn.btn-white.border-0.rounded-circle.p-0.ms-auto(disabled)
                        i.bi.bi-chevron-right
script.
    function updatePagination(page){

    }
    function updateRequestOffcanvas(requests){
        const requestTable = document.getElementById('requestTableBody');
        requestTable.innerHTML = '';
        for (let i = 0; i < requests.length; i++) {
            const requestItem = requests[i];
            const tr = document.createElement('tr');
            const tdRequestDate = document.createElement('td');
            const tdTargetSubject = document.createElement('td');
            const tdRequestAddress = document.createElement('td');
            const tdSummary = document.createElement('td');
            if(requestItem.requesterIdx == "#{user.idx}"){
                tdRequestDate.innerText = requestItem.regDate;
                tdTargetSubject.innerHTML = `<a href=/member/user/${requestItem.workerIdx}>${requestItem.h_id}</a>`
            }
            else{
                tdRequestDate.innerText = requestItem.workDate;
                tdTargetSubject.innerHTML = `<a href=/member/user/${requestItem.requesterIdx}> ${requestItem.u_id}</a>`
            }
            tdRequestAddress.innerText = requestItem.address;
            tdSummary.innerHTML = `
                <button class="btn btn-dark btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDetail${requestItem.idx}" aria-expanded="false" aria-controls="collapseDetail${requestItem.idx}">
                    자세히
                </button>
                <div class="collapse mt-1" id="collapseDetail${requestItem.idx}">
                    <div class="card card-body">
                    <p>심부름 제목: ${requestItem.title}</p>
                    <p>내용: ${requestItem.content}</p>
                    <p>처리상태: 
                        ${requestItem.status == 5 ? '심부름 취소' :
                        (requestItem.status == 0 || requestItem.status == 1 ? '매칭중' :
                        (requestItem.status == 2 ? '진행대기' : 
                        (requestItem.status == 3 ? '진행중' : '심부름완료')))}
                    </p>
                    <a class="btn btn-dark btn-sm mt-2" href="/trade/errand/${requestItem.idx}">상세정보</a>
                    </div>
                </div>
                `;
            
            tr.appendChild(tdRequestDate);
            tr.appendChild(tdTargetSubject);
            tr.appendChild(tdRequestAddress);
            tr.appendChild(tdSummary);
            requestTable.appendChild(tr);
        }
    }
    function loadRequestData(type, page){
        const xhr = new XMLHttpRequest();
        const userIdx = '#{user.idx}';
        const url = `/member/user/request/${userIdx}?page=${page}&type=${type}`;
        xhr.open('GET', url);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    const response = JSON.parse(xhr.responseText);
                    const requests = response.requests;
                    //- const page = response.page;
                    //- updatePagination(page);
                    if(requests.length > 0)
                        updateRequestOffcanvas(response.requests);
                }
            }
        };
        xhr.send();
    }
    document.addEventListener('DOMContentLoaded', () => {
        const requesterBtn = document.getElementById("requesterBtn");
        requesterBtn.addEventListener("click", function(event){
            event.preventDefault();
            document.getElementById('offcanvasErrandLabel').innerText = "부름이 심부름 요청 내역";
            document.getElementById('requestDate').innerText = "심부름 요청 날짜";
            document.getElementById('targetSubject').innerText = "드림이"
            loadRequestData(0, 1);
        })
        const workerBtn = document.getElementById("workerBtn");
        workerBtn.addEventListener("click", function(event){
            event.preventDefault();
            document.getElementById('offcanvasErrandLabel').innerText = "드름이 심부름 수행 내역";
            document.getElementById('requestDate').innerText = "심부름 수행 날짜";
            document.getElementById('targetSubject').innerText = "부름이"
            loadRequestData(1, 1);
        })
    });