//- Parameters
//-- admin, user, errands, totalCount, wallet

extends ../../../layout.pug

block title 
    | 부름이 정보

block content
    //- include ./order.pug
    include ./errand.pug
    include ./block.pug
    include ./remove.pug
    include ./revoke.pug
    include ./wallet.pug
    include ../../../lib/adminRequest.pug
    include ./edit.pug

    .container-fluid.w-80
        include ../../../title.pug
            a.text-dark(href='/member/user') 전체 회원 관리
            i.bi.bi-chevron-double-right 
            | #{user.id}
    .container-fluid.w-90
        .card
            .card-header
                .d-flex.align-items-center
                    .flex-shrink-0
                        if user.profileImageUrl
                            img.img-profile.me-2(src=user.profileImageUrl, alt="프로필 사진", width="80", height="80")
                        else
                            img.img-profile.me-2(src="/images/defaultProfile.svg", alt="기본 이미지" width="80", height="80")
                    .d-flex.flex-column
                        if user.isWorkerRegist == 1
                            .h4#userTitle 드림이 #{user.name} 정보
                        else 
                            .h4#userTitle 부름이 #{user.name} 정보
                        button#editModalBtn.btn.btn-link.text-decoration-underline.me-auto(type='button' data-bs-toggle='modal' data-bs-target='#requestModal') 정보수정
                    button#requesterBtn.btn.btn-dark.btn-sm.ms-auto(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasErrand' aria-labelledby="offcanvasErrandLabel") 심부름 요청 내역
            .table-responsives
                table.table.table-striped.align-middle
                    thead
                        tr
                            th(style='width: 20px;')
                            th(scope='col') 이름
                            th(scope='col') ID
                            th(scope='col') 가입일
                            th(scope='col') 수정일
                    tbody#userFirstTable
                        tr 
                            td
                            td #{user.name}
                            td #{user.id}
                            td #{user.createAt}
                            td #{user.updateAt}
                    thead
                        tr
                            th
                            th(scope='col') 현재 포인트
                            th(scope='col') 정산 내역
                            if user.isWorkerRegist == 1
                                th(scope='col') 입금은행
                                th(scope='col') 계좌번호
                            else
                                th(scope='col') 
                                th(scope='col') 
                    tbody#userSecondTable
                        tr 
                            if wallet
                                td
                                td #{wallet}
                                td 
                                    button#walletBtn.btn.btn-dark.btn-sm(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasWallet' aria-labelledby="offcanvasWalletLabel") 정산내역
                            else 
                                td
                                td 0
                                td 0
                            if user.isWorkerRegist == 1
                                td #{helper.bankName}
                                td #{helper.accountNumber}
                            else 
                                td 
                                td
                    if user.isWorkerRegist == 1
                        thead 
                            tr 
                                th
                                th(scope='col') 심부름 수행내역
                                th(scope='col') 활동 카테고리
                                th(scope='col') 이동수단
                                th(scope='col') 자기소개
                        tbody#helpertable
                            tr 
                                td
                                td 
                                    button#workerBtn.btn.btn-dark.btn-sm(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasErrand' aria-labelledby="offcanvasErrandLabel") 심부름 내역
                                td #{helper.workCategory}
                                td #{helper.transportation}
                                td #{helper.bio}
            .card-footer
                .d-flex.justify-content-center
                    a.btn.btn-dark.me-2(type='button' href=`/member/blacks?searchType=idx&searchText=${user.idx}&page=1`) 차단 내역
                    if user.isWorkerRegist == 1
                        button.btn.btn-dark.me-2(type='button' data-bs-toggle='modal' data-bs-target='#revokeModal')  드림이 해제
                    if user.accountState == 0
                        button.btn.btn-dark.me-2(type='button' data-bs-toggle='modal' data-bs-target='#blockUserModal')  
                            if user.isWorkerRegist == 0 
                                | 부름이 차단
                            else
                                | 드림이 차단                        
                    button#removeModalBtn.btn.btn-dark.me-2(type='button' data-bs-toggle='modal' data-bs-target='#requestModal') 
                        if user.isWorkerRegist == 0
                            | 부름이 삭제
                        else
                            | 드림이 삭제