//- Parameters
//-- admin, user, orders

.offcanvas.offcanvas-bottom#offcanvasOrder(data-bs-scroll='true' tabindex='-1' aria-labelledby='offcanvasOrderLabel', style='max-height: 100%;')
        .offcanvas-header
            h5#offcanvasOrderLabel.offcanvas-title 주문 내역
            button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
        .offcanvas-body
            .table-responsive.text-center
                table.table
                    thead
                        tr 
                            th(scope='col' style='width: 20%') 주문 날짜
                            th(scope='col' style='width: 10%') 수령자
                            th(scope='col') 수령주소
                            th(scope='col' style='width: 30%') 요약정보
                    tbody.table-group-divider
                        each order in orders 
                            tr
                                td #{order.date}
                                td #{order.receiver_name}
                                td #{order.address}
                                td
                                    button.btn.btn-dark(type='button' data-bs-toggle='collapse' data-bs-target=`#collapseDetail${order.idx}` aria-expanded='false' aria-controls=`collapseDetail${order.idx}`)
                                        | 자세히
                                    .collapse.mt-1(id=`collapseDetail${order.idx}`)
                                        .card.card-body
                                            p 상품: 
                                            p 상품가격:
                                            p 상품수량: 
                                            | 처리상태: 
                        else 
                            tr 
                                td 
                                td 주문내역 
                                td 없음
                                td

